.post-content img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

details {
    background: var(--code-bg);
    border-radius: 4px;
    padding: 10px 14px;
}

details[open] > summary {
    margin-bottom: 10px;
}

del {
    color: var(--secondary);
}
