.post-content img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}
